<h1> Bible format </h1>

<p>The bible you're adding should be a json formatted just like this example:</p>

<pre>{{snippet}}</pre>

<hr/>

<h1> Examples </h1>

<hr/>

<h3>You can select only one book</h3>
<app-bible-picker [bible]="bible" select="book" (onSelected)="showSelection($event)"></app-bible-picker>
<div>

  You have selected: @if(selection) { 
    <button mat-button (click)="selection = undefined">Clear</button>
    <span>{{selection | json}} </span>
  }
</div>

<hr/>

<h3>Or multiple books</h3>
<app-bible-picker [bible]="bible" select="books" (onSelected)="showSelection($event)"></app-bible-picker>
<div>

  You have selected: @if(selection) { 
    <button mat-button (click)="selection = undefined">Clear</button>
    <span>{{selection | json}} </span>
  }
</div>

<hr/>

<h3>You can also select Chapters</h3>
<app-bible-picker [bible]="bible" select="chapters" (onSelected)="showSelection($event)"></app-bible-picker>
<div>

  You have selected: @if(selection) { 
    <button mat-button (click)="selection = undefined">Clear</button>
    <span>{{selection | json}} </span>
  }
</div>

<hr/>

<h3>Or Verses</h3>
<app-bible-picker [bible]="bible" select="verses" (onSelected)="showSelection($event)"></app-bible-picker>
<div>

  You have selected: @if(selection) { 
    <button mat-button (click)="selection = undefined">Clear</button>
    <span>{{selection | json}} </span>
  }
</div>